<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmb.springbootshiro.dao.UserDao">

    <resultMap id="SystemUserResultMap" type="com.hmb.springbootshiro.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="username" />
        <result column="passWord" jdbcType="VARCHAR" property="password" />
    </resultMap>
    <insert id="add">
        insert into user(username, password) VALUE (#{username},#{password})
    </insert>
    <select id="selectUser" resultType="com.hmb.springbootshiro.pojo.User">
        select *  from user where username=#{username}
    </select>
    <select id="selectRoleByUsername" resultType="java.lang.String">
       select roleName from role where id = (select rid from user_role where uid =
       (select id from user where userName=#{username}))
    </select>
    <select id="selectPermissionByUsername" resultType="java.lang.String">
        select  p.pName from permission p where p.id in(
	select R.pid from role_permission R where R.rid in (
		 select rid from user_role where uid =(select id from user where userName=#{username})
	)
  );
    </select>


</mapper>